@import url(avion.css);


* {
    margin: 0px;
    padding: 0px;
}

body {

    /*background-color: lightskyblue;*/
    font-family: 'Poppins', sans-serif;
    background-color: #6499E9;
    text-align: center;
    /* width: fit-content; */
    min-width: 560px;
    width: 100%
}

.conteiner2 {

    display: flex;
}

.logo {

    text-align: center;
    display: inline;
    border-radius: 15px;



}

.nav_pos {
    /*  float: right;*/
    width: 100%;
    margin-top: 0px;

}


.nav_pos2 {
    float: right;
    width: 80%;
    margin-top: 10px;
}

.nav_pos2 {
    text-align: right;

}



.sector-2 {
    display: flex;
    justify-content: space-evenly;

}

@media (max-width:960px) {
    .sector-2 {
        display: block;

    }
}

.articulo-2 {
    padding-top: 60px;
    margin-bottom: 20px;
}

.articulo-3 {
    padding-top: 60px;
}

.card {
    position: static;
    margin: 50px auto 0px;
    height: 800px;


}

.card-text {
    text-align: justify;
}

.card-body {
    background-color: #6499E9;
    color: white
}

.navegacion {
    position: fixed;

    height: 260px;
    width: 100%;


    /* background-color: lightgreen;*/
    background-color: #6499E9;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Mountains-1412683.png");
    background-size: contain;


    /* Cambia esto al color que desees */
    color: #fff;
    /* Cambia esto al color del texto que desees */
    padding: 0px 0;
    /* Añade relleno para el contenido de la barra de navegación */
    /*z-index: 1000;*/
    z-index: 1001;

}



.navegacion_p {
    margin-top: 0px;
    text-align: center;
    display: inline, block;
    background-color: #9EDDFF;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /*background: linear-gradient(90deg, rgba(58, 154, 200, 1) 0%, rgba(58, 154, 208, 1) 30%, rgba(0, 212, 255, 1) 100%);*/

    border-radius: 5px;

}

.login_registro {
    padding-left: 50%;



}

.login_registro>li>a {

    border: 2px dotted black;
    border-radius: 25px;
    padding: 5px;
    font-size: 1rem;
}



li {

    display: inline-block;
    font-size: 1.5rem;
    padding: 5px;
}

li>a {
    text-decoration: none;
    color: black;
    font-weight: 600;

}

li>a:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}

nav {
    display: inline;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

h2 {
    text-align: center;
    margin: 20px;

}

h2>a {
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    color: blue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra con desplazamiento de 2px en horizontal y 2px en vertical, opacidad 0.5 */

}

h4 {
    color: white;
}

.imagenArticulos {
    padding-right: 50px;
}

main {
    /*flex: 2;*/
    margin-top: 240px;
    background-color: #A0BFE0;
    width: 100%;

}

.cordoba {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.carousel {
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

.carousel-caption h5 {
    background-color: black;
    color: white
}

.articulo1 {
    border: 2px solid black;
    border-radius: 15px;
    position: static;
    text-align: center;
    width: fit-content;


}

.parrafo {

    font-size: 1.5rem;
    /*min-width: 400px;*/
    font-weight: bold;
    padding: 0 5%
}

.articulo1div {
    /* margin: 0 20% 0 15%;*/
    text-align: justify;

}


.galeria {
    background-color: #A0BFE0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    /* Las imágenes tienen un ancho mínimo de 200px y se ajustan automáticamente */
    grid-gap: 10px;
    /* Espacio entre las imágenes */
}

.imagen {
    overflow: hidden;
    border-radius: 15px;
    /* Evita que las imágenes se desborden de su contenedor */
}

.imagen img {
    width: 100%;
    /* Asegura que las imágenes ocupen todo el espacio del contenedor */
    min-height: 100%;
}

.imagen:hover {
    transform: scale(1.1);
    /* Escala la imagen en un 10% cuando se posiciona sobre ella */
}



footer {

    width: 100%;
    padding-top: 40px;


    /*display: flexbox;*/
    /*bottom: 0;*/

    background-color: #6499E9;
    /*text-align: center;*/

}

.derechos {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 30px;
}


.container__redes-link {
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 50px;
}

.animated-text {
    position: relative;
    bottom: 80%;
    font-size: 200%;
    animation: animateText 5s 5 alternate;


}

@media (max-width:600px) {
    .animated-text {
        display: none;
        font-size: 100%
    }
}

@keyframes animateText {
    0% {
        transform: scale(1);
        opacity: 1;
        color: black;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
        color: white;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        color: black;
    }
}


.generalbelgrano,
.villamaria,
.lafalda {
    margin-top: 25px;
}

.lista_villa_maria li {
    display: block;
}

.formlogin {
    margin-left: auto;
    margin-right: auto;
}

.formlogin2 {
    margin-top: 30vh;
    margin-bottom: 20vh;
}

/* Pagina nosotros*/

.nosotros__principal {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
}

.nosotros__principal-historia,
.nosotros__principal-mision,
.nosotros__principal-vision {
    background-color: lightcyan;
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-gap: 6px;
    height: 50vh;
    padding: 20px;
    border-radius: 30px;
}


.nosotros__principal-historia p,
.nosotros__principal-mision p,
.nosotros__principal-vision p {
    font-size: 1em;
    overflow-y: auto;
    text-align: justify;
}

.nosotros__principal_img {
    height: 100%;
    padding: 10px;
}

.nosotros__principal_img {
    grid-row: 1/3;
}

.nosotros__principal-historia h4,
.nosotros__principal-mision h4,
.nosotros__principal-vision h4 {
    font-size: 1.5rem;
    padding-top: 30px;
    text-align: center;
    color: #2a5ebf
}

.nosotros__principal_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}




/* STYLE PAG CONTACTO */

.main_princ {
    display: flex
}

.seccion_gps {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.seccion_gps iframe {
    border: 20px solid azure;
}
.seccion_gps_info {
    justify-content: center;
    text-align: left;
    padding: 20px;
}
.titulo_gps{
    color: #bf2a2a;
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
}

.seccion_gps_info h4 {
    text-align: left;
    color: #2a5ebf;
    font-size: 1.2em;
    margin: 5px auto;
}

.seccion_gps_info p , .parrafo_gps{
    font-size: 1.2em;
}


/*Formulario de Contacto*/


.titulo_h1, .titulo_h2, .titulo_coment {
    color: #2a5ebf;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

.seccion_form {
    display: block;
    width: 70%;
    font-size: 1.2em;
    font-weight: bold;
}

.form_contacto_datos input {
    border: 2px solid rgb(255, 255, 255);
    height: 2rem;
    margin: 10px 0;
    width: 60%;
    }

/* CAJA DE CHECKBOX DESTINOS */

.form_contacto_datos_destinos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    font-size: 1em;
}

.contacto_datos_check {
    width: 100%;
    display: flex;
    font-size: 1em;
    padding: 10px;
}

.contacto_datos_check:nth-child(odd){
    background-color: #bad0eb;
}

.contacto_datos_check label {
    flex: .5;
    text-align: left;
    font-size: 1em;
}

.contacto_datos_check input[type="checkbox"] {
    flex: 1;
    height: 1.4em;
    margin: auto ;
}

@media (max-width:700px) {
    .form_contacto_datos_check {
    width: 100vh;
}
.seccion_form {
width: 100%;
margin: 0 auto;
}
}


.seccion_form textarea {
    margin: 0 auto;
    overflow-y: auto;
    border: 3px solid #fff;
    min-width: 60%;
    max-width: 80%;
}


.buttton_form {
    box-shadow: 0px 0px 0px 2px #1bb7c2;
    background: linear-gradient(to bottom, #6499E9 5%, #9EDDFF 100%);
    background-color: #44adc7;
    border-radius: 10px;
    border: 1px solid #6499E9;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 19px;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5a5a5a;
    margin: 5px 10px;
}

.buttton_form:hover {
    background: linear-gradient(to bottom, #2a5ebf 5%, #4b6eb9 100%);
    background-color: #5cbf2a;
    color: #fff;
}

.buttton_form:active {
    position: relative;
    top: 1px;
}