* {
    margin: 0;
    padding: 10px;
}

body {
    background-color: lightskyblue;
    font-family: 'Poppins', sans-serif;

}

.navegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: lightgreen;*/
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(58, 58, 208, 1) 40%, rgba(0, 212, 255, 1) 100%);

    /* Cambia esto al color que desees */
    color: #fff;
    /* Cambia esto al color del texto que desees */
    padding: 10px 0;
    /* Añade relleno para el contenido de la barra de navegación */
    z-index: 1000;

}

ul {
    text-align: center;
    display: inline, block;
    /*background-color: lightseagreen;*/
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(58, 154, 208, 1) 30%, rgba(0, 212, 255, 1) 100%);

    border-radius: 10px;

}

li {
    display: inline-block;
    font-size: 2rem;
    padding: 5px;
}

li>a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

li>a:hover {
    background-color: black;
    color: white;
}

nav {

    position: static
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

h2 {
    text-align: center;
    margin: 20px;

}

h2>a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 220px;
}

.articulo1 {
    text-align: center;
}

.parrafo {
    font-size: 1.5rem;
    min-width: 500px;
    align-content: center;
}

.articulo1div {
    margin: 0 20% 0 20%;
    text-align: justify;
}