<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Cudi Turismo - Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Poppins:wght@300&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="asset/css/carrito.css">
    <link rel="icon" href="asset/media/logo.ico">
    <link rel="stylesheet" href="asset/css/modal_1.css">
    <link rel="stylesheet" href="asset/css/modal_f.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

        <!-- Logo de la compañía -->
        <div class="navegacion">
            <nav class="nav_pos">
                <ul class="navegacion_p">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="destinos.html">Destinos</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="carrito.html">Viajes</a></li>
                </ul>
            </nav>
            <span class="avion">¡Bienvenidos a Cudi Turismo!<img src="asset/media/avion.png" alt="" width="10%"></span>
            <a href="index.html"><img class="logo" src="asset/media/CudiLogo.png" alt="Logo" width="10%"
                    title="Inicio"></a>
            <nav class="nav_pos2">
                <ul class="login_registro">
                    <li><a href="#" id="openModalLink">Login</a></li>
                    <li><a href="registro.php">Registrarse</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main_carrito">



        </div>
        <!-- carrito con VUE -->
        <div id="app" class="container mt-4">
            <h1 class="mb-3">Carrito de Compras</h1>
            <div class="row">
                <!-- Itera sobre los productos con cards de Bootstrap -->
                <div v-for="(product, index) in products" :key="index" class="col-md-3 mb-3">
                    <div class="card" style="width: 20rem; height: 450px;">
                        <img :src="product.image" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Precio: ${{ product.price }}</p>
                            <button @click="addToCart(index)" class="btn btn-primary">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="mt-5">Carrito</h2>
            <ul class="list-group">
                <li v-for="(item, index) in cart" :key="index"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <img :src="item.image" alt="Product Image" class="mr-3"
                        style="max-width: 150px; max-height: 150px;">
                    {{ item.name }}-${{ item.price }}
                    <span class="badge badge-primary badge-pill">${{ item.price }}</span>
                    <button @click="removeFromCart(index)" class="btn btn-danger btn-sm">Cancelar</button>
                </li>
            </ul>

            <h3 class="mt-3">Total: ${{ calculateTotal() }}</h3>
            <button @click="confirmarCompra" class="btn btn-success mt-3">Confirmar Compra</button>
        </div>

        <!-- Agrega el enlace a Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    products: [
                        { name: 'Cordoba Capital', price: 50000, image: 'asset/media/carrito/cordobacapital.jpg' },
                        { name: 'Villa Maria', price: 45000, image: 'asset/media/carrito/cordobacapital2.jpeg' },
                        { name: 'Villa General Belgrano', price: 35000, image: 'asset/media/carrito/cordobacapital3.jpeg' },
                        { name: 'La Falda', price: 25000, image: 'asset/media/carrito/reloj.png' },
                    ],
                    cart: [],
                },
                methods: {
                    addToCart(index) {
                        this.cart.push(this.products[index]);
                    },
                    removeFromCart(index) {
                        this.cart.splice(index, 1);
                    },
                    calculateTotal() {
                        return this.cart.reduce((total, item) => total + item.price, 0);
                    },
                    confirmarCompra() {
                        const totalCompra = this.calculateTotal();
                        alert(`¡Compra confirmada!\nTotal: $${totalCompra}`);
                        // Aquí podrías realizar acciones adicionales, como enviar la orden al servidor, etc.
                        this.cart = []; // Limpiar el carrito después de la compra
                    },
                },
            });
        </script>


    </main>
    <h4 class="volver_Inicio"><a href="carrito.html">VOLVER AL INICIO</a></h4>


    <!-- Footer -->
    <!-- Footer -->
    <footer>

        <h2>Contactenos</h2>
        <h4> Nuestras redes</h4>

        <div class="container__redes">
            <br>
            <div class="container__redes-link">
                <a href="mailto:cudi.turismo@gmail.com"><img src="asset/media/gmail.ico" alt="" width="50px"></a>
            </div>
            <div class="container__redes-link">
                <a href="https://twitter.com/" target="_blank"><img src="asset/media/twitter.ico" alt=""
                        width="50px"></a>
            </div>
            <div class="container__redes-link">
                <a href="https://www.instagram.com/" target="_blank"><img src="asset/media/instagram.ico" alt=""
                        width="50px"></a>
            </div>
            <div class="container__redes-link">
                <a href="https://www.facebook.com/" target="_blank"><img src="asset/media/facebook.ico" alt=""
                        width="50px"></a>
            </div>
            <br>
            <p class="derechos">Derechos reservados 2023</p>

    </footer>
</body>

</html>